data
chaindeploy-ui-dist
__debug*
chaindeploy-api-go
.idea
.DS_Store
chainlaunch
certs
.cursorrules
.env
test-instance
*.db
decode_extradata
.artifacts
.cursor

# Added by Claude Task Master
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dev-debug.log
# Dependency directories
node_modules/
# Environment variables
# Editor directories and files
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# OS specific
# Task files
tasks.json
tasks/ 
.roo
.taskmasterconfig
scripts
projects-data-node1